<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>270248246973-mfdof26kgh0j0rcfddl9vdt0f0mh4bqa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.270248246973-mfdof26kgh0j0rcfddl9vdt0f0mh4bqa</string>
	<key>API_KEY</key>
	<string>AIzaSyAkMJV9q6lIHHosKZFQSDUz9PTXsrdtl0A</string>
	<key>GCM_SENDER_ID</key>
	<string>270248246973</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>-50107085.mApp</string>
	<key>PROJECT_ID</key>
	<string>incubatorproject-dcc4c</string>
	<key>STORAGE_BUCKET</key>
	<string>incubatorproject-dcc4c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:270248246973:ios:5dd69f0d1462ffab</string>
	<key>DATABASE_URL</key>
	<string>https://incubatorproject-dcc4c.firebaseio.com</string>
</dict>
</plist>